header {
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    text-align: center;
}

#fader {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-blend-mode: darken;
}